@import '~bootstrap/dist/css/bootstrap';

.center {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-items: center;
};

a:hover {
  text-decoration: none;
};

.image {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
};

.login-form, .signup-form {
  display: block;
  margin: auto;
  width: 275px !important;
};

.login-form-control, .signup-form-control {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
};

.welcome-page {
  width: 500px !important;
};

.apartment-form {
  display: block;
  margin: auto;
  width: 275px !important;
};

.apartment-row {
  display: block;
  text-align: left;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 550px !important;
};

.apartments-subtitle {
  display: block;
  text-align: left;
  margin-left: 18px;
};

.apartment-card-container {
  padding-bottom: 1em;
};

.apartment-card {
  padding: 5px;
  width: 20em;
  height: 100%;
};

.apartment-card-image {
  height: 10em;
  object-fit: cover;
};

.App-component {
  background-image: url(../../assets/images/new-york-skyline.jpg);
  height: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
};
